In [1]:
using DataFrames, CSV

In [2]:
df = DataFrame(name=["Julia", "Robert", "Bob","Mary"], age=[12,15,45,32])

4×2 DataFrame
 Row │ name    age
     │ String  Int64
─────┼───────────────
   1 │ Julia      12
   2 │ Robert     15
   3 │ Bob        45
   4 │ Mary       32

   Resolving package versions...

  No Changes to `~/.julia/environments/v1.9/Project.toml`
  No Changes to `~/.julia/environments/v1.9/Manifest.toml`